<table style="font-family: 'Arial'; font-size: 14px; color:#007DB5;">
	<tbody>
		<tr>
			<td>
				<table>
					<tr>
						<td><img src="https://i.catini.org/logo-iv2-138x186.png" /></td>
					</tr>
				</table>
			</td>
			<td style="width: 250px;">
				<table cellpadding="2">
					<tr>
						<td style="color:#A6CE39; font-size: 13px;">{{{nome_completo}}}</td>
					</tr>
					<tr>
						<td style="color:#575656; font-size: 13px;"><b>Grupo iv2</b></td>
					</tr>
					<tr>
						<td style="color:#575656; font-size: 13px;">{{{cargo}}}</td>
					</tr>
					<tr>
						<td><a style="text-decoration:none;color:#019DBD; font-size: 13px;" href="mailto:{{{email}}}">{{{email}}}</a></td>
					</tr>
					<tr>
						<td>
							<a style="text-decoration:none;color:#575656; font-size: 13px;" href="tel:+551124485611">(11) 2448-5611 | </a>
							<a style="text-decoration:none;color:#575656; font-size: 13px;" href="tel:+55{{{celular_formatado}}}">{{{celular}}}</a>
						</td>
					</tr>
					<tr>
						<td><a style="text-decoration:none;color:#019DBD; font-size: 13px;" target="_blank" href="http://www.iv2.com.br">www.iv2.com.br</a></td>
					</tr>
					<tr>
						<td>
							<a style="text-decoration:none;color:#019DBD; font-size: 13px;" target="_blank" href="https://www.facebook.com/pages/category/Information-Technology-Company/Grupo-iv2-624138357708958/"><img src="https://iv2.com.br/images/facebook-logo.png"></a>
							<a style="text-decoration:none;color:#019DBD; font-size: 13px;" target="_blank" href="https://www.youtube.com/user/TotvsIV2/videos"><img src="https://iv2.com.br/images/youtube-logo.png"></a>
							<a style="text-decoration:none;color:#019DBD; font-size: 13px;" target="_blank" href="https://br.linkedin.com/company/iv2-tecnologia-e-sistemas"><img src="https://iv2.com.br/images/linkedin-logo.png"></a>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td><img src="https://i.catini.org/fluig-logo.png" /></td>
					</tr>
				</table>
			</td>
		</tr>
		
		
	</tbody>
</table>

<img src="https://iv2.com.br/images/footer.jpg">
