<div class="container-fluid" data-ng-init="vm.ListAll()" style="margin-top: 15px;">
    <div class="row">

        <input type="text" id="auxIpAddress" style="position: fixed; left: -10000; top: -10000px">

        <div class="col-12">
            <label>Pesquisar</label>
            <input type="text" class="form-control" data-ng-model="search" />
            <hr />
        </div>

        <div class="col-12">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Tipo de Instância</th>
                        <th scope="col">Complemento</th>
                        <th scope="col">Provedor</th>
                        <th scope="col">IPv4</th>
                        <th scope="col">Label</th>
                        <th scope="col">Localização</th>
                        <th scope="col">vCPU</th>
                        <th scope="col">RAM</th>
                        <th scope="col">Storage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="ax in vm.servers | filter: search">
                        <td style="cursor: pointer;" ui-sref="menu.frmServerEdit({_id: ax._id})" class="text-center"><i class="fas fa-edit"></i></td>
                        <td>{{ax.instance_typeDescription}}</td>
                        <td>{{ax.complemento}}</td>
                        <td>{{ax.provider.name}}</td>
                        <td><span id="ipaddress{{$index}}">{{ax.public_ipv4}}</span> <span id="public-ip-{{$index}}"><a data-ng-click="vm.copyPublicAddress(ax.public_ipv4, 'public-ip-'+$index)" style="z-index: 9999999; font-size: 12px;" href="javascript:void(0)">Copy</a></span> </td>
                        <td>{{ax.serverlabel}}</td>
                        <td>{{ax.location}}</td>
                        <td>{{ax.vcpu}}</td>
                        <td>{{ax.ram}}</td>
                        <td>{{ax.storage}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-12 text-right">
            <hr />
            <button type="button" class="btn btn-dark" data-ui-sref="menu.frmServer()">Novo Registro</button>
        </div>


    </div>
</div>