<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 offset-md-3 col-md-6 offset-lg-3 col-lg-6" style="margin-top: 25px;">
			<div class="col-12 text-center">
				<img style="width: 100px;" src="http://iv2.com.br/assets/img/logo.png" alt="http://iv2.com.br/assets/img/logo.png">
				<br>
				<span style="font-size: 40px; font-family: Ubuntu">Grupo iv2</span>
			</div>
			<form name="register" autocomplete="off">
				<div class="card" style="margin-top: 30px;">
					<div class="card-body">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label for="">Nome</label>
							<input type="text" class="form-control" data-ng-model="vm.User.name">
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label for="">Email</label>
							<input type="text" class="form-control" data-ng-model="vm.User.email">
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label for="">Usuário</label>
							<input type="text" class="form-control" data-ng-model="vm.User.user">
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label for="">Senha</label>
							<input type="password" class="form-control" data-ng-model="vm.User.password">
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<button type="button" class="btn btn-info btn-block" data-ng-click="vm.SignUp()">Cadastrar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>